.cart-page {
  display: flex;
  justify-content: space-between;
  background-color: #FFF7ED;
  // height: 500px;
  padding: 60px;

  .cart-items {
    width: 60%;
    h2 {
      color: #5B3724;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #DBD5CB;

      .item-image {
        width: 60px;
        height: 60px;
        background-color: #DBD5CB;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .item-details {
        display: flex;
        flex-direction: column;
        flex: 1;

        p {
          margin: 5px 0;
          &:first-child {
            font-size: 16px;
            font-weight: bold;
          }
          &:last-child {
            font-size: 14px;
            color: #5B3724;
          }
        }
      }

      .item-quantity {
        display: flex;
        align-items: center;

        button {
          width: 30px;
          height: 30px;
          background-color: #DBD5CB;
          color: #5B3724;
          border: 1px solid #ADA399;
          cursor: pointer;

          &:hover {
            background-color: #ADA399;
          }
          &:active {
            background-color: #5B3724;
            color: #FFF7ED;
          }

          // &:disabled {
          //   cursor: not-allowed;
          // }
        }

        span {
          width: 40px;
          text-align: center;
          margin: 0 10px;
        }
      }

      .item-total {
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        margin-left: 20px;
        color: #5B3724;
      }

      .remove-item {
        background: none;
        border: none;
        cursor: pointer;
        color: #5B3724;
        font-size: 18px;

        &:hover {
          color: #755543;
        }
      }
    }
  }

  .order-summary {
    width: 30%;
    padding: 20px;
    border: 1px solid #DBD5CB;

    h2 {
      color: #5B3724;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .total {
      display: flex;
      justify-content: space-between;
      color: #5B3724;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .checkout-button {
      width: 100%;
      padding: 10px;
      background-color: #5B3724;
      color: #ff0000;
      text-align: center;
      cursor: pointer;
      border: none;
      text-decoration: none;

      &:hover {
        background-color: #755543;
        color: #ffffff;
      }
    }

    .secure-checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      font-size: 14px;
      color: #888;

      .lock-icon {
        margin-right: 5px;
      }
    }
  }
}
