.h-wrapper {
    width: 100%;
    background-color: #FFF7ED;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.h-container a {
    text-decoration: none;
}

.h-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #5B3724;
    font-family: 'Poppins', sans-serif;
}

.h-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-grow: 1;
}

.h-menu a {
    color: #5B3724; /* Đổi sang màu nâu nhạt */
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.h-menu a:hover {
    color: #C09B81;
}

.h-actions {
    display: flex;
    align-items: center;
    gap: 15px;

    
}

.h-actions span{
    color: #5B3724; 
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.login-button {
    background-color: #C09B81; /* Sử dụng màu nâu nhạt */
    color: #FFF7ED;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button a {
    color: #FFF7ED;
    text-decoration: none;
}

.login-button a:hover {
    color: #FFF7ED;
    text-decoration: none;
}

.login-button:hover {
    background-color: #ADA399;
    transform: translateY(-2px);
}

.login-button:active {
    transform: translateY(0);
}




