.order-summary {
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  background-color: #fff;

  h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  .summary-totals {
    padding-top: 5px;

    .subtotal,
    .delivery-cost,
    .total {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .total {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px 0 10px 0;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .delivery-date {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
  }

  .items-list { 
    margin-bottom: 20px; 
  } 
  .order-item { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
    
    .item-image { 
      width: 50px; 
      height: 50px; img { 
        max-width: 100%; 
        max-height: 100%; 
        border-radius: 4px; 
      } 
    } 
    .item-details { 
      margin-left: 10px; 
      
      .item-name { 
        font-weight: bold; 
      } 
      .item-quantity, 
      .item-price { 
        margin-top: 5px; 
      } 
    }
  }
}
