.product-info {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #5B3724;
  }

  .price {
    color: #5B3724;
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .description {
    color: #755543;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .quantity {
    display: flexbox;
    color: #5B3724;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    & > span {
      font-size: 1rem;
      margin: 0 1rem;
    }

    button {
      background-color: #DBD5CB;
      border: 1px solid #ADA399;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #ADA399;
      }
      &:active {
        background-color: #5B3724;
        color: #FFF7ED;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    button {
      padding: 0.75rem 1.5rem;
      cursor: pointer;
      border: none;
      font-size: 1rem;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #755543;
        color: #FFF7ED;
      }
    }

    .add-to-cart {
      background-color: #5B3724;
      color: #FFF7ED;
    }

    .buy-now {
      background-color: #FFF7ED;
      color: #5B3724;
      border: 1px solid #5B3724;
    }

    .wishlist {
      background-color: #FFF7ED;
      color: #5B3724;
      border: 1px solid #5B3724;
      font-size: 1.5rem;
    }
  }

  .product-info-section,
  .return-refund-policy {
    margin-top: 1rem;

    & > summary {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
