.product-detail {
    padding: 1rem;
    background-color: #FFF7ED;
    .product-detail-container {
      display: flex;
      gap: 2rem;
      width: 100%;
      margin-bottom: 120px;

      .img {
        width: 60%;
      }

      .detail {
        width: 40%;
      }
    }
}
  