.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .main-image {
    width: 100%;
    height: 500px;
    // aspect-ratio: 1;
    background-color: #DBD5CB; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; // Đảm bảo ảnh không bị méo
    }
  }

  .thumbnails {
    display: flex;
    justify-content: left;
    gap: 8px; 

    .thumbnail {
      width: 30%; 
      height: auto;
      // aspect-ratio: 1;
      background-color: #DBD5CB; 
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; // Đảm bảo ảnh không bị méo
        cursor: pointer; 
      }

      // &:hover {
      //   transform: scale(1.1);
      // }
    }
  }
}
