  .all-products-container {
    display: flex;
    font-family: 'Poppins', sans-serif;

    .sidebar {
      width: 20%; 
      height: auto;
      background-color: #FFF7ED;
      padding: 20px;

      .address {
        font-size: 14px;
        margin: 30px 0 20px 35px;
      }
      
      .address a {
        color: #5B3724;
        text-decoration: none;
      }
      
      .address a:hover {
        text-decoration: underline;
      }
      
      .browse-by,
      .filter-by {
        margin: 30px 0 0 35px;
      }
      
      .browse-by h3,
      .filter-by h3 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #5B3724;
        font-weight: bold;
      }
      
      .browse-by ul,
      .filter-by ul {
        list-style-type: none;
        padding: 0;
      }
      
      .browse-by ul li,
      .filter-by ul li {
        margin-bottom: 8px;
        cursor: pointer;
      }
      
      .browse-by ul li a,
      .filter-by ul li a {
        color: #5B3724;
        text-decoration: none;
      }
      
      .browse-by ul li a:hover,
      .filter-by ul li a:hover {
        text-decoration: underline;
      }
      
      .filter-section {
        margin-top: 15px;
        border-top: 1px solid #ADA399;
        padding-top: 10px;
      }
      
      .filter-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 15px;
        color: #5B3724;
      }
      
      .range-slider {
        width: 100%;
        height: 4px;
        background-color: #DBD5CB;
        margin-top: 8px;
        position: relative;
      }
      
      .range-slider-track {
        background-color: #5B3724;
      }
      
      .range-slider-thumb {
        margin-top: -4px;
        height: 13px;
        width: 13px;
        background-color: #5B3724;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
      }
      
      .price-values {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
      }
      
      .price-text {
        cursor: pointer;
      }
      
      .price-text input {
        width: 60px;
        text-align: center;
      }
      
      .brand-filter {
        margin-top: 10px;
      }
      
      .brand-filter input[type="number"] {
        width: 50px;
        text-align: center;
        margin-right: 5px;
      }
      
      .brand-filter input[type="range"] {
        width: calc(100% - 60px);
        margin: 5px 0;
      }
      
      .brand-filter label {
        margin-left: 8px;
        color: #5B3724;
      }
    }
    
    .watches-list {
      width: 80%;
      height: auto;
      background-color: #FFF7ED;
      padding: 30px;
    
      h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 64px;
        color: #5B3724;
      }
    
      .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    
      .product-card {
        width: 20vw;
        background-color: #DBD5CB;
        padding: 1rem;
        text-align: left;
        border-radius: 8px;
        cursor: pointer;
        position: relative; // Add this line
    
        .product-image {
          text-align: center;
          width: 100%;
          height: 300px;
          border-radius: 8px;
          transition: opacity 0.3s ease;
        }
    
        .sale-badge {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: #ff3e3e;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          padding: 5px 10px;
          border-radius: 5px;
        }
    
        h2 {
          font-size: 1.2em;
          font-weight: 600;
          color: #5B3724;
        }
    
        p {
          font-size: 1em;
          color: #5B3724;
        }
    
        .original-price {
          text-decoration: line-through;
          color: #888;
          margin-right: 10px;
        }
    
        .discounted-price {
          color: #ff3e3e;
          font-weight: bold;
        }
      }
    
      .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    
      .pagination button {
        background-color: #DBD5CB;
        border: 1px solid #ADA399;
        padding: 8px 12px;
        margin: 0 4px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    
      .pagination button.active {
        background-color: #5B3724;
        color: #FFF7ED;
      }
    
      .pagination button:hover {
        background-color: #ADA399;
      }
    }    
  }
  
  
  