.product-detail {
    padding: 1rem;
    .product-detail-container {
      display: flex;
      gap: 2rem;
      width: 100%;

      .img {
        width: 50%;
      }

      .detail {
        width: 50%;
      }
    }
  }
  