.related-products {
  text-align: center;
  height: 400px;

  h2 {
    color: #5B3724;
  }

  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .arrow {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      transition: transform 0.3s, color 0.3s;
      color: #5B3724;

      &:hover {
        transform: scale(1.2);
        color: #755543;
      }

      &:active {
        animation: alternate-reverse 0.3s;
        color: #ADA399;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .product-list {
      display: flex;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
    }
  }
}
