.admin-manage-system {
    width: 18%;

    .admin-manage-system-h2 {
        font-size: 22px;
        padding-left: 20px;
        color: #853104;
    }

    .management-list {
        padding: 10px;
        background-color: #ffffff;
        border-right: 1px solid #f0f0f0;

        li {
            padding: 15px 20px;
            margin-bottom: 5px;
            background-color: #f2f2f2;
            color: #853104;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.2s;

            &:hover {
                background-color: #dcdcdc;
                transform: scale(1.05);
            }
        }

        .active {
            background-color: #c0c0c0;
            font-weight: bold;
            transform: scale(1.05);
            color: #5f2c11;
        }

        a {
            text-decoration: none;
            color: inherit;
            display: block;
        }
    }
}