// src/styles/admin/OrderManagement.scss
.order-management {
    background-color: #f9f9f9;
    width: 100%;

    h2 {
        font-size: 24px;
        color: #333;
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .order-actions {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        input[type="text"] {
            padding: 10px;
            width: 30%;
            border: 1px solid #ddd;
            border-radius: 20px;
            font-size: 16px;
        }

        button {
            padding: 8px 16px;
            margin-left: 15px;
            background-color: #8d524d;
            /* Màu nền cho nút */
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #7a3e35;
                /* Màu nền khi hover */
            }

            &:disabled {
                background-color: #ccc;
                /* Màu nền khi nút bị disable */
                cursor: not-allowed;
            }
        }
    }


    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
            background-color: #8d524d;
            color: white;
            border: none;
            border-radius: 4px;
        }

        button[disabled] {
            background-color: #ccc;
            cursor: not-allowed;
        }

        span {
            font-size: 16px;
        }
    }
}

.order-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 16px;
    }

    th {
        background-color: #f7f7f7;
        color: #333;
        font-weight: bold;
        font-size: 18px;
    }

    td {
        vertical-align: middle;

        .staff-actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .staff-name {
                font-weight: bold;
                color: #333;
                margin-bottom: 5px;
            }

            select {
                padding: 5px;
                border: 1px solid #ddd;
                border-radius: 4px;
                background-color: #f9f9f9;
                cursor: pointer;

                &:focus {
                    outline: 2px solid #007bff;
                }
            }
        }

    }

    .status {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
    }


}