// src/styles/admin/UserManagement.scss
.admin-usermanagement {
    width: 100%;
    background-color: #f9f9f9;

    h2 {
        font-size: 24px;
        color: #333;
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .user-actions {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        input[type="text"] {
            padding: 10px;
            width: 30%;
            border: 1px solid #ddd;
            border-radius: 20px;
            font-size: 16px;
        }

        .add-button {
            margin-left: 15px;
            padding: 10px 20px;
            background-color: #f1c40f;
            color: #333;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;

            &:hover {
                background-color: #e2b007;
            }
        }
    }

    .user-table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: left;
            font-size: 16px;
        }

        th {
            background-color: #f7f7f7;
            color: #333;
            font-weight: bold;
            font-size: 18px;
        }

        .options {
            display: flex;
            gap: 10px;

            button {
                padding: 8px 15px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;
            }

            .detail-btn {
                background-color: #3498db; // Màu sắc cho nút chi tiết
                color: #fff;

                &:hover {
                    background-color: #155c8b;
                }
            }
        }
    }
}